{% extends "website/base.html" %} {% block content %}
<div class="container text-center mt-5 admin-books-users">
  <div class="row">
    <div class="col-lg-6 pe-5 ">
      {% for book in books %}
      <div class="border-top border">
        <div class="d-flex flex-row">
          <img
            src="{{ book.image.url }}"
            alt="no photo"
            class="rounded img-fluid me-2"
          />
          <div class="book-info">
            <p class="me-2 border px-1 small">{{ book.title }}</p>
            <p class="me-2 border px-1 small">{{ book.author }}</p>
          </div>
          <div class="col">
              <a
                  href="{% url 'books_delete' pk=book.pk slug=book.slug %}"
                  class="btn float-end btn-danger m-2 btn-sm"
                  >Delete
              </a>
              <a
                  href="{% url 'books_update' pk=book.pk slug=book.slug %}"
                  class="btn float-end btn-warning m-2 btn-sm"
                  >Update
              </a>
              <a
              href="{% url 'books_details' pk=book.pk slug=book.slug %}"
              class="btn float-end btn-primary m-2 btn-sm"
              >Details
              </a>
          </div>
        </div> 
      </div>
      {% endfor %}
    </div>
    <div class="col-lg-6 pe-5 ">
        {% for user in users %}
            <div class="border-top border">
                <div class="d-flex flex-row">
                <img
                    src="{{ user.profile.image.url }}"
                    alt="no photo"
                    class="rounded-circle img-fluid me-2"
                />
                <p class="me-2 border px-1">{{ user.username }}</p>
                <p class="me-2 border px-1">{{ user.email }}</p>
                    <div class="col">
                        <a
                            href="{% url 'profile_delete' user.id %}"
                            class="btn float-end btn-danger m-2 btn-sm"
                            >Delete
                        </a>
                        <a
                            href="{% url 'profile' user.id %}"
                            class="btn float-end btn-primary m-2 btn-sm"
                            >Profile
                        </a>

                    </div>
                </div> 
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
