{% extends "website/base.html" %} {% load group_filters %} {% block content %}
<div class="container-fluid h-100 text-center mt-5 admin-books-users">
  {% if user|has_group:"limited-CRUD" %}
    <div class="row justify-content-center h-100">
  {% else %}
    <div class="row h-100">
  {% endif %}
    <div class="col-lg-6 pe-5 scroll-admin-books">
      <h1 class="books-heading"> Books </h1>
      {% for book in books %}
      <div class="border-top border">
        <div class="d-flex flex-row">
          <img
            src="{{ book.image.url }}"
            alt="no photo"
            class="rounded img-fluid me-2"
          />
          <div class="book-info">
            <p class="me-2 border px-1 small">{{ book.title }}</p>
            <p class="me-2 border px-1 small">{{ book.author }}</p>
          </div>
          <div class="col">
              {% if user.is_superuser or user|has_group:"full-CRUD" %}
                <a
                    href="{% url 'books_delete' pk=book.pk slug=book.slug %}"
                    class="btn float-end btn-danger m-2 btn-sm"
                    >Delete
                </a>
                <a
                    href="{% url 'books_update' pk=book.pk slug=book.slug %}"
                    class="btn float-end btn-warning m-2 btn-sm"
                    >Update
                </a>
              {% endif %}
              <a
              href="{% url 'books_details' pk=book.pk slug=book.slug %}"
              class="btn float-end btn-primary m-2 btn-sm"
              >Details
              </a>
          </div>
        </div> 
        <!-- <ul class="list-group">
          <li class="list-group-item border-bottom">
            <small class="small-text">{{ comment.content }}</small>
          </li>
        </ul> -->
        <div class="dropdown mb-2 comment-droplist">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Comments
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% if book.comment_set.all %}
            <ul>
              {% for comment in book.comment_set.all %}
              <li>
                <a class="dropdown-item" href="#">{{ comment.content }}</a>
                <!-- <div class="row">
                  <a class='delete-comment-admin-btn btn-sm btn-danger float-end mt-2' href="{% url 'books_comment_delete' pk=book.id slug=book.slug id=comment.id %}">Delete</a>
                </div> -->
              </li>
              {% endfor %}
            {% else %}
              <li><a class="dropdown-item" href="#">No comments yet for this book!</a></li>
            {% endif %}
            </ul>
          </ul>
        </div>

      </div>
      {% endfor %}
    </div>
    {% if user.is_superuser or user|has_group:"full-CRUD" %}
    <div class="col-lg-6 pe-5 ">
      <h1> Users </h1>
        {% for user_profile in users %}
            <div class="border-top border">
                <div class="d-flex flex-row">
                <img
                    src="{{ user_profile.profile.image.url }}"
                    alt="no photo"
                    class="rounded-circle img-fluid me-2"
                />
                <p class="me-2 border px-1">{{ user_profile.username }}</p>
                <p class="me-2 border px-1">{{ user_profile.email }}</p>
                    <div class="col">
                        <a
                            href="{% url 'profile_delete' user_profile.id %}"
                            class="btn float-end btn-danger m-2 btn-sm"
                            >Delete
                        </a>
                        <a
                            href="{% url 'profile' user_profile.id %}"
                            class="btn float-end btn-primary m-2 btn-sm"
                            >Profile
                        </a>

                    </div>
                </div> 
            </div>
        {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
