/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');


/* Modify the background color */
.navbar {
  border-radius: 5px;
}

.help-text {
  font-style: italic;
  font-variant: all-small-caps;
}

.form-group {
  margin-top: 5px;
}

img {
  width: 368px;
  height: 500px;
}

img.account-img {
  width: 200px;
  height: 200px;
}

.border {
  border-radius: 5px;
}

#dropdownMenuLink img {
  width: 40px;
  height: 40px;
}

#dropdownMenuLink {
  padding: 0px;
  box-shadow: none;
}

a {
  text-decoration: none;
}