{% extends "website/base.html" %}
{% load static %} 
{% block content %}
<div class="container">
  <div>  
    <h1 class="title text-center mb-4 mt-4 border-bottom border-info-outline">
      Favourites ({{ page_obj.paginator.count }})
    </h1>
  </div>
  <div class="row">
    {% if books %}
     {% for book in books %}
      <div class="col-lg-6 text-center mt-2 border-bottom border-info">
        <img src="{{ book.image.url }}" alt="no photo" class="rounded" />
        <h4 class="mt-3">{{ book.title }}</h4>
        <h5><a href="{% url 'author_books' book.author %}">{{ book.author }}</a></h5>
        <a
          href="{% url 'books_details' pk=book.pk slug=book.slug %}"
          class="btn btn-outline-info mt-1 mb-3"
          >Learn More</a
        >
      </div>
      {% endfor %}
    {% else %}
    <div class="text-center">
      <h1>No Favourite Books Yet !</h1>
      <a href="{% url 'books_library' %}" class="btn btn-outline-info mt-5"
        >Library</a
      >
    </div>
    {% endif %}
  </div>

</div>
{% endblock content%}
