{% extends "website/base.html" %} 
  {% load crispy_forms_tags %}
  {% block content %}
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 p-4 border">
        <div class="row d-flex justify-content-center">
          <div class="content-section col-lg-6">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
              </fieldset>
              <div class="form-group text-center">
                <button class="btn btn-outline-info mt-3" type="submit">Sign In</button>
              </div>
            </form>
          </div>
          <div class="border-top pt-3 mt-5">
            <small class="text-muted">
              Need an Account ?<a class="ml-2" href="{% url 'register' %}"> Sign Up Now</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content%}


