{% extends "books/base.html" %} {% load static %} {% block content %}
<!-- About -->
<div class="container text-center mt-5">
  <section class="explore">
    <!-- cls -> div explore-content -->
  <div class="explore-content"> 
    <h1>Share A Book With The World</h1>
    <div class="line"></div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorem
      totam ducimus mollitia id dignissimos laboriosam ipsum, doloremque dolore
      deleniti, autem ullam quo assumenda quidem!
    </p>
    <a href="#" class="btn btn-outline-info m-3">Library</a>
  </div>
</section>
</div>
{% endblock content %}

<!-- https://www.youtube.com/watch?v=ZdJSHEczi_0 -->
