{% extends "books/base.html" %} {% block content%}
<div class="container">
  <div class="row align-items-center mt-5">
    <div class="col-lg-6 text-center">
      <img src="{{ object.image.url }}" alt="no img" class="rounded" />
      {% if object.posted_by == user or user.is_superuser %}
        <div>
          <a
            class="btn btn-primary ms-4"
            href="{% url 'books_update' object.id %}"
            >Update</a
          >
          <a class="btn btn-danger m-4" href="{% url 'books_delete' object.id %}"
            >Delete</a
          >
        </div>
      {% endif %}
    </div>
    <div style="border-left: 2px solid #0DCAF0" class="col-lg-6 text-right mt-5">
        <h1>{{object.title}}</h1>
        <h2>{{ object.author }}</h2>
        <h3>{{ object.language }}</h3>
        <h4>{{ object.genre }}</h4>
        <h5>{{object.description}}</h5>
        <h6>Shared by {{ object.posted_by }}</h6>
        <!-- https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#date -->
        <!-- object.date_posted|date:'l d-m-y' -->
        <h6>on {{ object.date_posted|date:'l d-m-y' }}</h6>
    </div>
  </div>
</div>
{% endblock content %}
