<!-- Update and Create Book Form -->
{% extends "books/base.html" %} 
  {% load crispy_forms_tags %}
  {% block content %}
    <form method="POST" enctype="multipart/form-data">
      <!-- A CSRF token is a secure random token 
        (e.g., synchronizer token or challenge token) that is used to prevent CSRF attacks. -->
      {% csrf_token %}
      <!-- https://docs.djangoproject.com/en/4.0/topics/forms/#form-rendering-options -->
      <!-- crispy form filter -->
      <!-- use crispy tag -->
      {{ form|crispy }}
      <button type="submit">Share</button>
    </form>
  {% endblock content%}
