{% extends "website/base.html" %}

{% block content%}
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6 text-center">
        <img src="{{ object.image.url }}" alt="no img" class="rounded img-fluid" />
          <p class="text-primary mt-3"><i class="bi bi-hand-thumbs-up-fill"></i> {{ number_of_likes }}</p>
        {% include 'books/buttons.html'%}
      </div>
      <div class="col-lg-6 text-right mt-5 px-3">
        <div style="border-left: 2px solid #0DCAF0" class="px-3">     
          <h1>{{object.title}}</h1>
          <h2><a href="{% url 'author_books' object.author %}">{{ object.author }}</a></h2>
          <h4>Language - {{ object.language }}</h4>
          <h4>Genre - {{ object.get_genre_display }}</h4>
          <blockquote class="blockquote">
            <p class="mb-0">{{object.description}}</p>
            <div class="mt-5">
              <footer class="blockquote-footer">
                Shared by
                {% if user == object.posted_by%}
                  <!-- https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#date -->
                  <a href="{% url 'profile' pk=user.pk %}">me</a> on {{ object.date_posted|date:'d F, Y' }}
                {% else %}
                  <a href="{% url 'profile_user' object.posted_by.id %}">{{ object.posted_by }}</a> on {{ object.date_posted|date:'d F, Y' }}
                {% endif %}
              </footer>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
    {% include 'books/comments.html'%}
  </div>
{% endblock content %}
