{% extends "books/base.html" %} 

{% block content%}
<section>
  <h1>Title: {{object.title}}</h1>
  <h2>Author: {{ object.author }}</h2>
  <img src="{{ object.image.url }}" alt="" />
  <h3>Description: {{object.description}}</h3>
  <h4>Posted by: {{ object.posted_by }}</h4>
  <!-- https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#date -->
  <!-- object.date_posted|date:'l d-m-y' -->
  <h5>Date_posted: {{ object.date_posted|date:'l d-m-y' }}</h5>
  {% if object.posted_by == user or user.is_superuser %}
    <div>
      <!-- https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
      <a class="btn btn-outline-info  m-3" href="{% url 'books_update' object.id %}">Update</a>
      <a class="btn btn-danger  m-3" href="{% url 'books_delete' object.id %}">Delete</a>
    </div>
  {% endif %}
</section>

{% endblock content %}
