{% load group_filters %}

{% if user.is_authenticated %}
  <div>
    {% include 'books/save_like_anchors.html'%}
  
    {% if object.posted_by == user or user.is_superuser or user|has_group:"full-CRUD" %}
    
      <a
        class="btn btn-primary mx-4"
        href="{% url 'books_update' pk=object.pk slug=object.slug %}"
        >Update</a
        >   
        <a class="btn btn-danger" href="{% url 'books_delete' pk=object.id slug=object.slug %}"
        >Delete</a
        >
    {% endif %}
  </div> 
{% endif %}
