{% load crispy_forms_tags %}
{% load group_filters %}

{% if user.is_authenticated %}
  <div class="row">
{% else %}
  <div class="row justify-content-center">
{% endif %}
    <div class="col-lg-6 pe-5">
      <h2 class="mt-4">Comments</h2>
      {% if comments %}
      <div class="scroll">
        {% for comment in comments %}
        <div class="comment mb-4 text-justify border border-3 mt-2 p-2"> 
          <img src="{{ comment.posted_by.profile.image.url }}" alt="" class="rounded-circle comment-pic m-2">
          <h4 style="display: inline-block;">
            {% if user == comment.posted_by %}
              <a href="{% url 'profile' pk=user.pk %}">me</a>
            {% else %}
              <a href="{% url 'profile_user' comment.posted_by.id %}">{{ comment.posted_by }}</a>
            {% endif %}
          </h4>
          <!-- https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#date -->
          <span class="text-secondary">- {{ comment.date_posted|date:'d F, Y' }}</span>
          {% if user == comment.posted_by or user.is_superuser or user|has_group:"limited-CRUD, full-CRUD" %}
            <a class='btn-sm btn-danger float-end mt-2' href="{% url 'books_comment_delete' pk=object.id slug=object.slug id=comment.id %}">Delete</a>
            <a class='btn-sm btn-primary me-2 float-end mt-2' href="{% url 'books_comment_update' pk=object.id slug=object.slug id=comment.id %}">Update</a>
          {% endif %}
          <br>
          <p class="m-3">{{ comment.content }}</p>
        </div>
        {% endfor %}  
      </div>
      {% else %}
        <p>Be the first person to comment !</p>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
      <div class="col-lg-6 pe-5 mt-4">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Leave a comment</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="float-end btn btn-primary my-3 " type="submit">Comment</button>
          </div>
        </form>
      </div>
    {% endif %}
  </div>