{% extends "website/base.html" %}
{% load static %} 
{% block content %}
<div class="container">
  {% if books %}
  <h1 class="title text-center mb-4 mt-4 border-bottom border-info-outline">MOST LIKED BOOKS </h1>
    <div class="row border-bottom border-info">
      {% for book in books %}
        <div class="col-lg-4 text-center my-3">
          <h3 class="text-primary"> <i class="bi bi-hand-thumbs-up-fill"></i> {{book.likes.all.count}}</h3>
          <div class="book-div">
          <img src="{{ book.image.url }}" alt="no photo" class="rounded img-fluid" />
          <h4 class="mt-3">{{ book.title }}</h4>
          <h5><a href="{% url 'author_books' book.author %}">{{ book.author }}</a></h5>
          <a
            href="{% url 'books_details' pk=book.pk slug=book.slug %}"
            class="btn btn-primary mt-1 mb-2"
            >Learn More</a
          >
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
        <h1>No Liked Books yet !</h1>
        <a href="{% url 'books_library' %}" class="btn btn-primary mt-5"
            >Library</a>
      </div>
  {% endif %}
</div>
{% endblock content%}
